﻿@model ActorModelMailSender.Data.Messages.MailDataMessage

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Witaj</title>
</head>
<body>
    <h3>
        Hi @Model.Name @Model.SecondName!
    </h3>
    <p>
        Zostań konsultantem AVON.
    </p>
   
</body>
</html>